{{#linked-list class="settings__navigation"}}
  {{link-to "Email" "settings.email"}}
  {{link-to "Notifications" "notifications"}}
{{/linked-list}}

<div class="settings__content">
  {{outlet}}
</div>