.is-faded {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    background: black;
    opacity: 0.5;

    @include transition(opacity 0.15s ease-in 0s);
  }
}