<div class="notification-subscription__enabler">
  {{input type="checkbox" checked=subscription.enabled disabled=subscription.registerable.disabled}}
</div>

{{subscription-registration-summary registration=subscription.registerable registerSms=registerSms}}
