<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hitgrid.com/trade-deadlines/{{tradeDeadline.id}}" data-text="I'm watching the chaos of mock trade deadline day unfold on HitGrid!" data-via="HitGrid" data-related="HitGrid" data-hashtags="mocknhltradedeadline">Tweet</a>
